/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffff
}

main {
    margin: 30px 0 30px 0;
}

/* HEADER STYLE START  */
.header-container {
    display: flex;
    background-color: #161616;
    width: 1321px;
    margin: 0 auto;
}

.header-left,
.header-right {
    width: 50%;

}

.left-panel {
    width: 531px;
    height: 424px;
    left: 246px;
    top: 161px;
    margin: 100px 10px 0 40px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#white-color {
    color: #ffff;
}

.header-title h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-top: 0;
    margin-bottom: 10px;
}

.header-description p {
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
}

.btn .watch-live-btn {
    background-color: red;
    color: #ffff;
    padding: 16px 25px;
    font-weight: 700;
    border-radius: 4px;
}

.fa-light {
    padding-left: 15px;
}

.player-image {

    width: 581px;
    height: 613px;
}

.player-image img {
    height: 100%;

}

/* HEADER STYLE END  */

/* BODY STYLE START  */
.body-section {
    width: 1321px;
    margin: 0 auto;

    display: flex;

}

.body-left {
    min-width: 400px;
    background: #161616;
    max-height: 400px;
    margin: 10px;

}



.body-left-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    /* border: 1px solid red; */
    width: 312px;
    height: 312px;
    justify-content: center;
    align-items: center;


}

.button-container {
    display: flex;
    flex-direction: column;
}

.btn {
    margin: 10px;

}

.btn a {
    text-decoration: none;
    color: black;
}

#btn-blog button {
    background-color: red;
}

.btn button {
    /* border: 2px solid red; */
    width: 252px;
    height: 64px;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: black;
    font-size: 18px;
    font-weight: 700;

}

/* right style start here  */

.body-right {
    width: 100%;
    margin: 5px;

}

.body-right-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.body-right-section {
    box-shadow: 0 0 10px 2px #1E1E1E;
    width: 250px;
    height: 300px;
}

.body-right-section img {
    width: 100%;
}

.btn-title-hour-time-container {
    padding-left: 10px;
}

.transfer-btn {
    width: 100px;
    height: 32px;

}

.transfer-btn button {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
}

.time-comments-container {
    display: flex;

}

.fa-regular {
    margin-right: 50px;
}




/* BODY STYLE END  */




/* FOOTER STYLE START  */
.footer-container {
    width: 100%;
    background: #161616;
    padding: 50px;

}

.footer-title h1 {
    text-align: center;
    color: white;
}

hr {
    width: 50%;
}

.footer-lists {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    /* justify-content: space-evenly; */
    /* border: 5px solid red; */
}

.list a {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 14px;

}

.social-container {
    width: 50%;
    margin: 0 auto;
    /* border: 5px solid blue; */
}

.social-container h3 {
    text-align: center;
    color: #B9B9B9;
    font-weight: 500;

}

.social-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.social a {
    text-decoration: none;
}

.fa-brands {
    font-size: 25px;
    margin-left: 50px;
}

.fa-facebook-square {
    color: #4267B2
}

.fa-twitter-square {
    color: #1DA1F2
}

.fa-linkedin {
    color: #3f729b;
}

.fa-brands:hover {

    box-shadow: 0px 0px 10px 10px #1E1E1E;
}


/* FOOTER STYLE END */

/* MATCH SCHEDULE STYLE START  */
.match-body-right-container {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}

.match-body-right {

    
    width: 230px;
    height: 135px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0 0 10px 1px #1E1E1E;;
}

.flags-container {
    
    padding: 10px;

}

.flags-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.flag img{
    margin: 0 10px 0 10px;
}
.match-title-time{
    display: flex;
    /* width: 100%;
    height: 100%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.match-title h3{
    font-weight: 700;
    font-size: 15px;
    
    margin: 0;
}
.match-time p{
    margin: 0;
    font-size: 12px;
}